//include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
//include "dms/windowrules.kdl"
include "dms/cursor.kdl"
//include "dms/wpblur.kdl"

include "./noctalia/binds.kdl"
include "./noctalia/windowrules.kdl"

include "./global/autostart.kdl"
include "./global/input.kdl"
include "./global/misc.kdl"
include "./global/animation.kdl"
include "./global/layoutextra.kdl"
include "./global/windowrules.kdl"
include "./global/outputs.kdl"
