layout {

    focus-ring {
        active-color   "#694fa3"
        inactive-color "#fdf8fd"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#694fa3"
        inactive-color "#fdf8fd"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#694fa3"
        inactive-color "#eaddff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#694fa380"
    }
}

recent-windows {
    highlight {
        active-color "#694fa3"
        urgent-color "#ba1a1a"
    }
}
